* {
    box-sizing: border-box;
}

:root {
    --header-color: #10375c;
    --primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 15px 16px;
    background: var(--primary-color);
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}
/* === Header === */
.header {
    min-height: 100vh;
    background: var(--header-color);
    padding: 30px 0 110px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: " ";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}

.logo__text {
    margin-left: 6px;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    font-weight: 400;
    font-size: 1.8em;
    color: #ffffff;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    font-weight: 300;
    font-size: 1.6rem;
    padding: 8px 21px;
    color: #c9d2da;
}

.navbar__link--active {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    color: #ffffff;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active:before {
    position: absolute;
    left: 13px;
    display: inline-block;
    content: " ";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #ffffff;
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-action__login {
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}

.header-action__signup {
    margin-left: 28px;
    min-width: 104px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;
}

/* === Hero ===*/
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__desc {
    width: 468px;
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    margin-left: 38px;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
}
